.products-page {
    padding: 3rem 8rem 10rem;
}
.cat-btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
    background: transparent;
    font-size: 1rem;
    font-family: var(--font-poppins);
}
.cat-btn:hover {
    background-color: var(--color-orange);
    color: white;
    cursor: pointer;
}