.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    position: relative;
}
.partners h1 {
    font-family: var(--font-playfair);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 60px;
    color: var(--color-text-dark);
}
.partners-card {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 5rem;
}
.partners-card img {
    width: 130px;
    height: 40px;
    opacity: 0.3;
}

@media screen and (max-width: 1000px) {
    .partners-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        margin-top: 4rem;
    }
}

@media screen and (max-width: 750px) {
    .partners {
        padding: 4rem 6rem;
    }
    .partners-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .partners {
        padding: 4rem 0;
    }
    .partners h1 {
        font-size: 2rem;
    }
    .partners-card {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}